@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vazirExtraLight;
  src: url("../assets/fonts/Vazir-Thin.woff");
}
@font-face {
  font-family: vazirLight;
  src: url("../assets/fonts/Vazir-Light.woff");
}
@font-face {
  font-family: vazirMedium;
  src: url("../assets/fonts/Vazir-Medium.woff");
}

@font-face {
  font-family: vazirBold;
  src: url("../assets/fonts/Vazir-Bold.woff");
}

@font-face {
  font-family: varzirFaNum;
  src: url("../assets/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff");
}

@font-face {
  font-family: vazir;
  src: url("../assets/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff");
}

@font-face {
  font-family: yekan;
  src: url("../assets/fonts/Vazir.woff");
}

:root {
  --primary-color: #f2f2f2;
  --secondary-color: #1d232a;
  --post-color: #ffffff;
  --header: #ffffff;
  --border: rgb(223, 223, 223);
  --blue-primary: #455dfc;
  --footer: #4c59b9;
  --footer-secondary: #4c59b9;
}

.dark {
  --primary-color: #1d232a;
  --secondary-color: #f2f2f2;
  --post-color: #2a323c;
  --header: #181a1e;
  --border: rgb(70, 72, 80);
  --blue-primary: #6898f1;
  --footer: #333b6e;
  --footer-secondary: #333b6e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vazir;
  list-style: none;
  text-decoration: none;
}

.book-store {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
