:root {
  --primary-color: #f2f2f2;
  --secondary-color: #1d232a;
  --post-color: #ffffff;
  --header: #ffffff;
  --blue-color: #455dfc;
  --footer: #4152ce;
}

.header {
  width: 100%;
  position: relative;
}

/* TOP */
.header-top {
  width: 100%;
  background-color: var(--header);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  height: 70px;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

/* LOGO */
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
}

.header-logo p {
  font-weight: 400;
  font-size: 14px;
}
.header-logo .header-logo-image {
  width: 19px;
  height: 19px;
}

/* LINKS */
.header-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links {
  display: flex;
  gap: 50px;
  font-size: 14px;
}

/* ICONS */
.header-icons {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-user-icon,
.header-cart-btn,
.header-theme-btn {
  font-size: 18px;
  padding: 5px;
}

/* HAMBURGER */
.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.hamburger-icon {
  font-size: 23px;
}

@media screen and (max-width: 1060px) {
  /* LINKS */
  .header-middle .header-links {
    flex-direction: column;
    position: absolute;
    top: 70px;
    height: 100vh;
    z-index: 1000;
    background-color: var(--post-color);
    padding: 50px 100px;
    box-shadow: 2px 0px 15px 2px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.4s;
    right: -300px;
  }

  .header-links.show {
    right: 0;
  }

  .hamburger-menu {
    display: flex;
  }
}

@media screen and (max-width: 428px) {
  .header-logo {
    display: none;
  }

  .hamburger-icon {
    font-size: 21px;
  }
  .header-user-icon,
  .header-cart-btn,
  .header-theme-btn {
    font-size: 16px;
  }

  .header-top {
    gap: 20px;
  }
}
