:root {
  --primary-color: #f2f2f2;
  --secondary-color: #1d232a;
  --post-color: #ffffff;
  --header: #ffffff;
  --blue-color: #455dfc;
  --footer: #4152ce;
}

.header {
  width: 100%;
}

/* TOP */
.header-top {
  width: 100%;
  background-color: var(--header);
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  padding: 0 6%;
  height: 60px;
  z-index: 1000;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

/* LOGO */
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 20%;
}

.header-logo p {
  font-weight: 400;
}
.header-logo .header-logo-image {
  width: 25px;
  height: 25px;
}

/* SEARCH */
.header-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-links {
  display: flex;
  gap: 50px;
}

/* ICONS */
.header-icons {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-user-icon,
.header-cart-btn,
.header-theme-btn {
  font-size: 18px;
  padding: 5px;
}
