:root {
  --primary-color: #f2f2f2;
  --secondary-color: #1d232a;
  --post-color: #ffffff;
  --header: #ffffff;
  --border: rgb(223, 223, 223);
  --blue-primary: #455dfc;
  --footer: #4152ce;
}

.bestbooks {
  padding: 100px 9%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 100%;
}

.bestbooks {
  margin-bottom: 18px;
}
.bestbooks h2 {
  font-size: 26px;
  font-weight: 100;
  margin-bottom: 5px;
}

.bestbooksSwiper {
  margin-top: 20px;
  padding: 20px 10px;
  background-color: var(--post-color);
  box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.bestbooks-slide-box {
  border: 1px solid var(--border);
}

.bestbooks-slide-box h3 {
  font-size: 18px;
  font-weight: 900;
}

.bestbooks-price-books {
  display: flex;
  justify-content: space-between;
  margin: 7px 0;
}

.rating {
  display: flex;
  gap: 3px;
  color: gold;
  margin-bottom: 15px;
}

.bestbooks-slide-box-info {
  padding: 20px;
  line-height: 1.6;
}

.bestbook-offprice {
  margin-bottom: 12px;
}
