:root {
  --primary-color: #f2f2f2;
  --secondary-color: #1d232a;
  --post-color: #ffffff;
  --header: #ffffff;
  --border: rgb(223, 223, 223);
  --blue-primary: #455dfc;
  --footer: #4152ce;
}

.image {
  width: 100%;
  opacity: 0.5;
}

.image-container {
  background-color: #000;
}

.top-slider-slide-container {
  position: relative;
}

.content-container {
  position: absolute;
  bottom: 50px;
  color: #fff;
  width: 600px;
  right: 150px;
}

.content-container h1 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 10px;
}

.content-container p {
  line-height: 1.9;
  text-align: justify;
  font-size: 14px;
}

.header-bottom {
  display: flex;
  gap: 20px;
  background-color: var(--post-color);
  height: 170px;
  padding: 0 20%;
  justify-content: center;
}

.header-bottom-box {
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--border);
  padding: 0 15px;
  width: 340px;
  cursor: pointer;
}

.header-bottom-box-container {
  color: var(--blue-primary);
  display: flex;
  gap: 18px;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.1s;
}

.header-bottom-box-container:hover {
  transform: translateY(5px);
  color: var(--secondary-color);
}

.header-bottom-box:last-child {
  border-left: 1px solid var(--border);
}

.header-bottom-box-icon {
  font-size: 38px;
}

.header-bottom-box-content h2 {
  font-weight: 900;
  margin-bottom: 5px;
  font-size: 19px;
}

.header-bottom-box-content p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (max-width: 1774px) {
  .header-bottom {
    padding: 0 15%;
  }
}

@media screen and (max-width: 1590px) {
  .header-bottom {
    padding: 0 10%;
  }
}
@media screen and (max-width: 1267px) {
  .header-bottom {
    padding: 0 5%;
  }
}
@media screen and (max-width: 1180px) {
  .header-bottom {
    padding: 0;
  }
}
@media screen and (max-width: 920px) {
  .header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px 0;
    height: 100%;
    margin: 0 20px;
  }

  .header-bottom-box {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 25px 15px;
    background-color: var(--post-color);
    width: auto;
    cursor: pointer;
  }
}

@media screen and (max-width: 920px) {
  .header-bottom {
    display: grid;
    grid-template-columns: 1fr;
  }
}
